@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  @apply lg:mx-auto lg:px-24 xl:px-48 px-5;
}

.bg-gradient {
  @apply bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600;
}

.text-gradient {
  @apply bg-clip-text bg-gradient text-transparent;
}

.section {
  @apply pt-28 xl:pt-28 2xl:pt-44;
}

.text-content {
  @apply dark:text-light-content text-dark-content;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.logo_img{
  border-radius: 50%;
}

.page-link{
  transition: .5s;
}

.page-link:hover{
  color: white;
}

.page-link .active{
  color: white;
}

.profile-img{
  border-radius: 50%;
  border-width: 5px;
  border-color: rgba(137, 43, 226, 0.4);
  filter: grayscale(.55);
  transition: .5s;
}

.profile-img:hover{
  filter: grayscale(0.25);
}

.project-card{
  transition: .5s;
}

.project-card:hover{
  scale: 1.02;
}

.alert {
  margin-top: 1vh;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fa6a31;
  border-color: #f5c6cb;
}

.skill-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 500px;
  height: 13vh;
  width: 13vh;
}

.skill-card img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 10%;
  border-width: 1px;
  border-radius: 5%;
  border-color: rgba(119, 119, 212, 0.048);
  box-shadow: -1px 1px 1px rgba(119, 119, 212, 0.137);
  transition: transform 0.3s ease;
  filter: grayscale(.75);
}

.skill:hover img{
  transform: translateY(-10px);
  box-shadow: -5px 5px 5px rgba(119, 119, 212, 0.137);
  filter: grayscale(0);
}

.skill-buttons{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #302f2f;
  box-sizing: border-box;
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;  
  transition: .5s all ease-in-out;
  scale: 1.25;
}

.skill-buttons button{  
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: none;
  padding: .5rem 0;
  color: #fff;
  transition: all .15s ease-in-out;
}

.skill-buttons .active{  
  background-color: #fff;
  color: #000;
  font-weight: 600;
}


.work-card{
  transition: .5s;
}

.work-card:hover{
  scale: 1.02;
  box-shadow: 0 1px .5px 0 whitesmoke;  
}

.skill-name{  
  width: 13vh;
  display: flex;
  color: rgb(122, 122, 122);
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 600;
  transition: .3s ease-in-out;
}

.skill:hover .skill-name{  
  color: #fff;
}

